section img {
  width: 500px;
  height: 500px;
}
.myname {
  font-size: 3rem;
  font-family: 'IBM Plex Sans Thai Looped', sans-serif;
  font-weight: bolder;
}
.para {
  font: 1.7rem;
}
/* .normal-text{
  font-size: 1.1rem;
} */
.bck {
  border-radius: 50%;
}
.sizee {
  width: 350px;
  height: 350px;
}
.navbar-brand-font{
  font-size:3.5rem !important;
  font-family: 'Dancing Script', cursive;
  line-height: 3;
  
}
.navbar-big-font{
  font-size: 1.1rem;
}

/* new backgrounds */
.logo-color{
 color: #A12568;
}
.first-color{
  background-color: #3D2C8D;
}
.skill-background
{
  background-color: #C996CC;
}
.header-background{
  background-color: #A2CDCD;
}

.another-background{
  background-color: #C996CC;
}
.project-background{
  background-color: #916BBF;
}
.work-background
{
  background-color: #222;
}
.background-nn{
  background-color: rgb(235, 14, 124);
}
.icon:hover{
 color:gold !important;
}
.nav-link
{
  border-radius: 5px !important;
}
.nav-link:hover{
  background-color:#A12568 !important;
  color: #222 !important;
 
}