section img {
  width: 500px;
  height: 500px;
}
.img-fluid{
  border-radius: 50% !important;
}
.nav-link{
  background-color: #A2CDCD;
  padding:0.8 1.4rem !important;
  font-weight: 450;
}
.ttt{
border-radius: 8%;
}
.myname {
  font-size: 3rem;
  font-family: 'IBM Plex Sans Thai Looped', sans-serif;
  font-weight: bolder;
}
.para {
  font: 1.7rem;
}
/* .normal-text{
  font-size: 1.1rem;
} */
.bck {
  border-radius: 50%;
}
.sizee {
  width: 350px;
  height: 350px;
}
.navbar-brand-font{
  font-size:3.5rem !important;
  font-family: 'Dancing Script', cursive;
  line-height: 3;
  
}
.navbar-big-font{
  font-size: 1.1rem;
}

/* new backgrounds */
.logo-color{
 color: #f042d3;
}
.first-color{
  background-color: #3D2C8D;
}
.second-background{
  background-color: #916BBF;
}
.fourth-background
{
  background-color: #C996CC;
}
.third-background{
  background-color: #CAB8FF;
}

.another-background{
  background-color: #C996CC;
}

.work-background
{
  background-color: #222;
}

.icon:hover{
 color:gold !important;
}
.nav-link
{
  border-radius: 5px !important;
}
.nav-link:hover{
  background-color:#a0e7e7 !important;
  color: #222 !important;
 
}